body {
    background-color: #f8f9fa;
    padding: 1rem;
    font-family: "Microsoft Yahei", sans-serif;
}




.search-bar {
    margin-bottom: 20px;
}

table {
    background-color: white;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

select.page-select {
    width: auto;
}

/* 在你的 ContactList.css 文件中添加 */
.table th, .table td {
    vertical-align: middle; /* 垂直居中 */
    text-align: center;     /* 水平居中 */
}

